---
import Layout from "../layouts/Layout.astro";
import Lightbox from "../components/Lightbox.astro";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

const photos = await getCollection("photos");
---

<Layout
  header="Fotky"
  lang="cs"
  description="Přehled fotek které jsem nafotil."
>
  {
    photos.map((album, albumIndex) => (
      <section class="flex w-full flex-col" data-album={albumIndex}>
        <div class="border-accent mb-2 flex items-baseline justify-between border-b pb-0.5">
          <h2 class="text-accent font-display text-2xl">{album.data.name}</h2>
          <p class="text-accent text-xl">{album.data.meta}</p>
        </div>
        <div class="columns-1 gap-2 sm:columns-2">
          {album.data.images?.map((image, imageIndex) => {
            return (
              <button
                type="button"
                class="lightbox-trigger mb-2 block w-full cursor-pointer break-inside-avoid"
                data-album={albumIndex}
                data-index={imageIndex}
                data-src={image.path.src}
              >
                <Picture
                  src={image.path}
                  alt=""
                  class="block w-full rounded-3xl"
                  widths={[200, 400, 608, 1216]}
                  sizes="(min-width: 640px) 50vw, calc(100vw - 66px)"
                  formats={["avif", "webp"]}
                  loading="lazy"
                />
              </button>
            );
          })}
        </div>
      </section>
    ))
  }

  <Lightbox />
</Layout>
