---
import Layout from "../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { Picture } from "astro:assets";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.priority - a.data.priority,
);

const renderedProjects = await Promise.all(
  projects.map(async (p) => ({ ...p, Content: (await render(p)).Content })),
);
---

<Layout
  header="Projekty"
  lang="cs"
  description="Seznam projektů, které jsem vytvořil nebo se na nich podílel."
>
  <div class="my-8 flex flex-col gap-48">
    {
      renderedProjects.map(({ data, Content }, index) => (
        <article class="group flex flex-col">
          <h1 class="hidden">{data.name}</h1>
          <p class="font-display text-accent mb-4 text-center text-sm">
            {data.year}
          </p>
          <div class="z-10">
            <Picture
              src={data.image}
              alt={data.name}
              class="-z-10 h-full"
              loading={index === 0 ? "eager" : "lazy"}
            />
          </div>
          <div class="mx-auto mt-6 max-w-md space-y-2 text-lg hyphens-auto">
            <Content />
          </div>
          <div class="button-container mx-auto mt-8 w-full max-w-md gap-3">
            {data.links?.map(
              (link: { url: string; name: string }, index: number) => (
                <a
                  href={link.url}
                  class:list={[
                    "border-accent hover:bg-accent/10 block border px-3 py-1 text-center lowercase shadow transition-all duration-100 ease-in-out hover:-translate-0.5",
                    {
                      "bg-accent hover:bg-accent/100 text-white hover:brightness-125":
                        index === 0,
                    },
                  ]}
                  target="_blank"
                >
                  <span class="font-semibold italic">{link.name}</span> ↗
                </a>
              ),
            )}
          </div>
        </article>
      ))
    }
  </div>
</Layout>

<style>
  .button-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
</style>
