---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

const graphics = await getCollection("graphics");
---

<Layout header="Grafika" lang="cs">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    {
      graphics.map((project) => (
        <section class="flex flex-col">
          <h2>{project.data.name}</h2>
          <!-- <article class="z-10 aspect-3/2 overflow-hidden rounded-b-3xl">
            <Picture
              src={project.data.image}
              alt=""
              class="-z-10 h-full transition-all duration-100 ease-in-out group-hover:scale-105"
            />
          </article> -->
          <header class="group-hover:text-accent flex flex-col p-4 pt-3 transition-all duration-100 ease-in-out">
            <div class="flex items-baseline justify-between">
              <h2 class="font-display text-xl group-hover:underline">
                {project.data.name}
              </h2>
              <p class="font-display text-sm">{project.data.year}</p>
            </div>
            <p class="text-sm font-medium">{project.data.description}</p>
          </header>
        </section>
      ))
    }
  </div>
</Layout>
