---
import Layout from "./Layout.astro";
import { Picture } from "astro:assets";
const { frontmatter } = Astro.props;

const cover = () => import(frontmatter.image);
---

<Layout
  header="Projekty"
  subheader={frontmatter.name}
  displayProject="true"
  lang="cs"
>
  <article>
    <header>
      <Picture
        src={cover()}
        alt={`${frontmatter.name} header picture`}
        class="mb-4 rounded-4xl"
      />
      <div class="mb-2 flex items-baseline justify-between">
        <h1 class="font-display text-accent text-3xl">{frontmatter.name}</h1>
        <p class="font-display text-accent text-xl">
          {frontmatter.year}
        </p>
      </div>
      <div class="mb-6 grid grid-cols-3 gap-4">
        {
          frontmatter.links?.map(
            (link: { url: string; name: string }, index: number) => (
              <a
                href={link.url}
                class:list={[
                  "border-accent block border px-3 py-1 text-center font-semibold transition-all duration-100 ease-in-out hover:scale-105",
                  { "bg-accent text-white": index === 0 },
                ]}
                target="_blank"
              >
                {link.name}
              </a>
            ),
          )
        }
      </div>
    </header>
    <main
      class="prose prose-headings:font-display prose-h1:text-accent prose-img:rounded-3xl prose-a:underline prose-a:hover:text-accent text-black"
    >
      <slot />
    </main>
  </article>
</Layout>
